.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  padding: 24px 24px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .logo-wrapper {
    height: 50px;
    .logo {
      height: 50px;
    }
  }
  .button {
    background-color: #FFC107;
    color: white;
    padding: 12px 26px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: calc(infinity * 1px);
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
    &.logout {
      background-color: lightgray;
      color: dimgray;
    }
  }
}
