.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  padding: 48px 0;

  .catalog-content {
    max-width: 1200px;
    min-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .button {
    margin-top: 48px;
    background-color: #FFC107;
    color: white;
    padding: 12px 26px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: calc(infinity * 1px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
}
