h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;
  max-width: 100dvw;
  * {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
